/* * {
  margin: 0;
  padding: 0;
} */

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


p {
  font-size: .8rem;
}

td {
  font-size: .8rem;
}
th {
  font-size: .9rem;
}
.main-title {
  font-weight: 700;
  text-transform: capitalize;
}

.title {
  font-size: 3rem;
}
.sub-title {
  font-size: 2.5rem;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.span-color {
  color: #7AB259;
}


@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 24px;
  }
}

/* Media Query */

/* html {
  font-size: .8rem;
} */

/* Small devices (landscape phones, 544px and up) */
/* @media (min-width: 544px) {  
  html {font-size: .8rem}
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {  
  html {font-size: 1rem;}
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
  html {font-size: 1.2rem;}
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  
  html {font-size: 1.4rem;}
} */